body {
  margin: 0;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2c212b;
  color: #fff;
}
b {
  color: #fff0b2;
}
code {
  background: #333;
  padding: 6px 10px;
  border-radius: 6px;
  line-height: 1;
  display: inline-block;
  color: #ffcb00;
  font-family: monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  b {
    color: #00c935;
  }
}
h2 {
  font-size: 20px;
  font-weight: bold;
  span {
    color: #9d9d9d;
    font-weight: 400;
  }
  &.top-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      display: block;
      width: 18px;
    }
  }
}
h1 {
  font-weight: 500;
  color: #ffcb00;
  font-size: 32px;
  span {
    color: #fff;
  }
}
.material-symbols-outlined {
  font-size: inherit;
}
.chapter {
  font-size: 18px;
  background-color: #463644;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  margin: 10px 0;
}

h4,
h3 {
  font-size: 22px;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: 500;
  border-bottom: dashed 1px #444444;
  color: #fff;
}
h3 {
  color: #ffcb00;
}
h5 {
  font-size: 20px;
  color: #a3a3a3;
  padding: 10px 0;
  border-radius: 8px;
  margin: 0;
}

pre {
  font-size: 20px;
  code {
    line-height: 1.5;
  }
}

ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  li {
    padding: 10px 5px;
    color: #fff;
    font-size: 18px;
    p {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #a8a8a8;
      font-size: 14px;
    }
  }
}

.tutorial-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  display: block;
}

.input-wrapper {
  margin-bottom: 15px;
  input {
    padding: 5px;
    background: transparent;
    border: solid 1px #464646;
    border-radius: 3px;
    color: #fff;
  }
}
.button-wrapper {
  button {
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
}

.state-list {
  margin: 10px 0 0 0;
  list-style: none;
  padding: 0;
  border: solid 1px #333;
  li {
    cursor: pointer;
    border-bottom: solid 1px #333;
    font-size: 14px;
    color: #a6a6a6;
  }
}

label {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}
input {
  background-color: #535353;
  border: 0;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

.no-results {
  display: none;
  &.show {
    display: block;
  }
}
